## Copyright (C) 2012 - 2023 ENCRYPTED SUPPORT LP <adrelanos@whonix.org>
## See the file COPYING for copying conditions.

Source: bootclockrandomization
Section: misc
Priority: optional
Maintainer: Patrick Schleizer <adrelanos@whonix.org>
Build-Depends: debhelper (>= 13), debhelper-compat (= 13), dh-apparmor
Homepage: https://www.whonix.org/wiki/Dev/TimeSync
Vcs-Browser: https://github.com/Whonix/bootclockrandomization
Vcs-Git: https://github.com/Whonix/bootclockrandomization.git
Standards-Version: 4.5.1
Rules-Requires-Root: no

Package: bootclockrandomization
Architecture: all
Depends: msgcollector, ${misc:Depends}
Description: Randomizes clock when systems boots
 Randomizes clock at boot time. Moves clock a few seconds and nanoseconds
 to past or future. Useful in context of anonymity/privacy/Tor.
 .
 This is useful to enforce the design goal, that the host clock and
 Gateway/Workstation clock should always slightly differ (even before secure
 timesync succeeded!) to prevent time based fingerprinting / linkablity
 issues.
 .
 Runs before Tor / sdwdate (if installed).
 .
 See also: https://www.whonix.org/wiki/Dev/TimeSync
